###제미나이 키 설정
GEMINI_API_KEY= ###여기에 제미나이 키를 넣고 이 형식에 맞게 .env파일을 따로 만드시오###
GEMINI_BASE_URL=https://generativelanguage.googleapis.com
GEMINI_MODEL=gemini-2.5-flash
GEMINI_TIMEOUT=30s

##음식 데이터 쓸지 말지
FOOD_DATA_IMPORT_ENABLED=false###안쓴다 설정
FOOD_DATA_IMPORT_PATH=##파일 경로 입력 : ##main/resource에 있음##전국통합식품영양성분정보_원재료성식품_표준데이터.csv 파일 위치
FOOD_DATA_IMPORT_CHARSET=CP949
